<head>
<link rel="stylesheet" href="https://sites.super.so/docs/template-starter/base.css">
</head>

<style>


  :root {
  /* Width of content */
  --max-width: 1100px!important;

  /* Column Spacing (Spacing between columns) */
  --column-spacing: 46px;

  /* Hide Notion Header (Page title, icon and cover) */
  --notion-header-display: flex!important;

	/* Top Spacing (If you remove the Notion header, change to '20px' or more) */
  --top-spacing: 80px!important;

  /* Hide collection/database titles */
  --collection-header-display: flex!important;

  /* Collection top border (set to 0 to hide) */
  --collection-header-border: 0px solid var(--color-border-dark)!important;

  /* Super Navbar CTA Button */
  --cta-padding: 14px 30px!important;
  --cta-border-radius: 20px!important;
  --cta-border: none!important;
  --cta-shadow: none!important;

  /* Callouts */
  --callout-padding: 16px 16px 16px 12px!important;
  --callout-margin: 2px 0px 4px 0px!important;
  --callout-border: 0px solid var(--color-border-default)!important;
  --callout-border-radius: 3px!important;
  --callout-shadow: 0!important;
  --callout-icon-size: 18px!important;
  --callout-emoji-size: 18px!important;

  /* Collections */
  /* List */
  --collection-list-item-border-radius: 0px!important;
  --collection-list-item-padding: 20px 10px!important;

  /* Spacing between gallery cards */
  --collection-gallery-gap: 30px!important;

  /* Collection Card */
  --collection-card-border-radius: px!important;
  --collection-card-border: 0px!important;
  --collection-card-shadow: 0 0 0 0px hsl(0deg 0% 0% / 0%), 0 2px 4px hsl(0deg 0% 6% / 10%)!important;
  --collection-card-cover-size-small: 172px!important;
  --collection-card-cover-size-medium: 396px!important;
  --collection-card-cover-size-large: 400px!important;

  /* Spacing inside table collections */
  --table-padding: 30px 10px!important;

  /* Pill */
  --notion-pill-padding: 10px 30px!important;
  --notion-pill-margin: 3px 0px!important;
  --notion-pill-border-radius: 5px!important;
  --notion-pill-text-size: 16px!important;
  --color-pill-text-default: #fff

  /* Rounded edges on images */
  --image-border-radius: 5px!important;

  /* Divider block */
  --divider-margin: 8px 0px!important;
  --divider-opacity: .3!important;

  /* Typography */
  /* heading 1 block font size and weight */
  --h1-size: 4rem!important;
  --h1-weight: 500!important;

  /* heading 2 block font size and weight */
  --h2-size: 2.5rem!important;
  --h2-weight: 500!important;

  /* heading 3 block font size and weight */
  --h3-size: 1.25rem!important;
  --h3-weight: 400!important;

	/* code font size */
  --code-size: 1rem!important;

  /* Quote block font size */
  --quote-size: 1.2em!important;

  /* Colors (Use RGB Values) */
  --color-default: 255, 255, 255!important;
  --color-white: 8, 8, 8!important;
  --color-gray: 155, 154, 151!important;
  --color-brown: 100, 71, 58!important;
  --color-orange: 217, 115, 13!important;
  --color-yellow: 255, 224, 102!important;
  --color-green: 15, 123, 108!important;
  --color-blue: 11, 110, 153!important;
  --color-purple: 105, 64, 165!important;
  --color-pink: 173, 26, 114!important;
  --color-red: 225, 62, 62!important;

  /* UI Colors */
  --color-ui-hover-bg: rgba(55, 53, 47, 0.08)!important;
  --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03)!important;
  --color-card-bg: rgb(255, 255, 255)!important;
  --color-border-default: rgba(235, 236, 237, 0.8)!important;
  --color-border-dark: rgba(55, 53, 47, 0.16)!important;
}

h1.notion-header__title {
  font-weight: 500;
}
.notion-collection__header {
		display: none !important;
	}

.notion-callout {
  background: #.notion-callout {
  background: #111111 !important;
  border-radius: 5px !important;
  text-align: center !important;
  padding: 40px !important;
  border: none !important;
}

.notion-callout__content {
  margin: 0 auto !important;
}

.notion-callout__icon {
  display: none !important;
}

.notion-callout h1 {
  letter-spacing: -1.5px !important;
  margin: 0 auto 8px !important;
  font-size: 36px !important;
}

.notion-callout .notion-callout {
  border-radius: 100px !important;
  width: fit-content !important;
  background: #000 !important;
  margin: 0 auto !important;
  color: #fff !important;
  padding: 0 !important;
}

.notion-callout .notion-callout a {
  padding: 12px 24px !important;
  display: block !important;
  opacity: 1 !important;
}

@media (max-width: 600px) {
  
  .notion-callout {
    padding: 24px !important;
  }
  
  .notion-callout .notion-heading {
    letter-spacing: -1px !important;
    font-size: 24px !important;
  }
  
}
  border-radius: 5px !important;
  text-align: center !important;
  padding: 40px !important;
  border: none !important;
}

.notion-callout__content {
  margin: 0 auto !important;
}

.notion-callout__icon {
  display: none !important;
}

.notion-callout h1 {
  letter-spacing: -1.5px !important;
  margin: 0 auto 8px !important;
  font-size: 36px !important;
}

.notion-callout .notion-callout {
  border-radius: 100px !important;
  width: fit-content !important;
  background: #000 !important;
  margin: 0 auto !important;
  color: #fff !important;
  padding: 0 !important;
}

.notion-callout .notion-callout a {
  padding: 12px 24px !important;
  display: block !important;
  opacity: 1 !important;
}

@media (max-width: 600px) {
  
  
  .notion-callout {
    padding: 24px !important;
  }
  
  .notion-callout .notion-heading {
    letter-spacing: -1px !important;
    font-size: 24px !important;
  }
  
}

  /* Change the max width of the page content */
:root {
    --max-width: 1400px!important;
}
.max-width {
	  max-width: var(--max-width) !important;
}

.notion-collection-card__content {
  padding-top: 25px!important
 

}

.root {
  --color-bg-blue: #3399FF!important
  --color-bg-blue-light: #399FF!important
  
}

.notion-collection-gallery {
  border-top display: none!important;
}

.pill-default {
  background: #111111;
}

.notion-collection-gallery {
  border-top: none!important;
  padding-bottom: 30px!important;
}

.notion-collection-card__cover {
  border-radius: 5px;
}

.notion-collection-board {
  border-top: none!important;
}

	
.notion-text__content {
  font-size: 16px;
  color: #dcdcdc;
}

.notion-collection-card__content {
  background-color: #080808
  
}

.notion-collection-card {
  border-color: #080808;
  font-size: 18px;

}

.notion-semantic-string .link {
  border-bottom: 0px;
}

.notion-pill {
  display: none;
}

.notion-collection-card__property-list {
  font-size: 15px;
  color: #9c9c9c;
}

.date {
  color: #9c9c9c!important;
  font-size: 15px;
}

.notion-property__date {
  padding-top: 0px!important;
}

.notion-collection-card__content {
  padding-left: 0px!important;
}

.notion-semantic-string .link {
  font-size: 15px!important;
}

.notion-collection-board__item {
  margin-bottom: 50px;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string > span {
  border-bottom: 0px;
  
  .notion-checkbox checked {
    background: 3F3F3F!important
  }


.notion-property__title__icon-wrapper { 
  display: none !important; }

}

.notion-collection-board__column-header {
  display: none!important;
}

.notion-collection-card__property-list {
  display: !important;
}

.notion-property__title .notion-semantic-string {
  font-size: 15px;
}

.notion-property__title__icon-wrapper {
  display: none!important;
}

.notion-collection-list__item-property .notion-property__date {
  font-size: 15px!important;
}

</style>
